---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: false
BreakStringLiterals: false
...
